/*
!/bin/
!/src/
!/.gitignore
!/.gitlab-ci.yml
!/Dockerfile
!/LICENSE.md
!/pom.yml
!/README.md
!/lombok.config
!/.mvn
/src/main/resources/config
/src/test/resources/config
/src/main/resources/xwing-data2
